* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  line-height: 1;
  list-style: none;
}
header {
  padding: 27px 0 24px 0;
  background: linear-gradient(#d5d5d5, #fff, #fff, #fff);
  text-align: center;
}
.container {
  max-width: 940px;
  margin: auto;
}
#menu {
  padding: 22px 0 0 0;
}
#menu li {
  font: 0.7em Tahoma, sans-serif;
  color: #b7b7b7;
  padding: 0 11px 8px 11px;
}
#menu li a {
  display: block;
  color: #666;
  font: bold 0.9rem Georgia, serif;
}

main {
  background: #fff url("img/mainbg.jpg") repeat-x;
  padding: 22px 0 0 0;
}
#main-pic {
  background: url("img/main.jpg") center center/cover no-repeat;
  height: 342px;
  border-radius: 6px;
}
h2 {
  font: bold 1.5rem "Georgia";
  color: #000000;
  text-align: center;
  padding: 25px 0 18px 0;
}
h3 {
  font: 1.3rem/1.5em "Georgia";
  color: #11719e;
}
h5 {
  font: 400 0.8rem "Helvetica";
  color: #8c8c8c;
}
.frame img {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 6px;
  background: #f3f3f3;
  margin: 15px 0;
}
p {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 18px;
  color: #3e3e3e;
  font-family: "Helvetica";
  text-align: justify;
}
button {
  height: 32px;
  width: 164px;
  color: #11719e;
  background: linear-gradient(to right, #e8e8e8, #ebebeb, #f7f7f7, #e8e8e8);
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  margin: 20px 0 35px 0;
}
.blue-btn {
  color: #fff;
  background: linear-gradient(to right, #4578af, #4e86bf, #4b84bc, #4578af);
  border: 1px solid #004a80;
}
input {
  height: 32px;
  width: 100%;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  margin: 18px 0 9px 0;
}
textarea {
  margin-block: 18px;
  width: 100%;
}

.row {
  padding: 1.5rem 0;
  border-block: 1px solid #d8d8d8;
}
.col3 {
  padding: 0 1.5rem;
  text-align: center;
}
.second-part h4 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 14px;
  color: #444444;
  font-family: "Georgia";
  padding: 42px 0 10px 0;
  padding-bottom: 10px;
  border-bottom: #b7b7b7 dashed 1px;
}
.second-part p {
  width: 299px;
  height: 57px;
  font-size: 12px;
  line-height: 14px;
  color: #444444;
  font-family: "Helvetica";
  padding-top: 15px;
}
.post {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #b7b7b7 dashed 1px;
}
footer {
  height: 11.4rem;
  background-color: #333;
  border-top: 10px solid #4c4c4c;
}
@media only screen and (min-width: 768px) {
  header {
    text-align: initial;
    display: inline-block;
    width: 100vw;
  }
  #logo {
    float: left;
  }
  #menu {
    float: right;
  }
  #menu li {
    display: inline-block;
    border-left: 1px dotted #d6d6d6;
  }
  .row {
    display: flex;
    justify-content: center;
  }
  .col3 {
    text-align: left;
  }
}
